# Auto detect text files and perform LF normalization
* text=auto
import math


x = math.pi / 5

# ilk terminin hesaplanması

tekterimsonucu = 1

gercekdeger = math.cos(x)

kesmehatasi = (gercekdeger - tekterimsonucu)

print("Hesaplanan Değer:" ,tekterimsonucu)
print("Gercek Değer:", tekterimsonucu)
print("Kesme Hatası:", kesmehatasi)


print("-"*30)

# ilk iki teriminin hesaplanması

ikiterimsonucu = 1 + 0   #birinci türevi sinüs fonksiyonu devreye girdiği içiçn sonuç sıfır oluyor.

gercekdeger= math.cos(x)

kesmehatasi = (ikiterimsonucu - gercekdeger)

print("Hesaplanan Değeri:" ,ikiterimsonucu)
print("Gerçek Değeri:",gercekdeger)
print("Kesme Hatası:" ,kesmehatasi)
